<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a Car</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="addCarCtrl">
    <div th:replace="layout :: navbar"></div>
    <form name="myForm">
        <p>Car Name: <input type="text" name="carName" ng-model="carName" required = "true"/></p>
        <p>Person Id: <input type="text" name="personId" ng-model="personId" required = "true" /></p>
        <button ng-click="sendData()" class="btn btn-success">Submit</button>
    </form>
    <p>Car : {{myForm.carName.$valid}}</p>
    <p>Person : {{myForm.personId.$valid}}</p>
    <p>{{message}}</p>

    <script th:src="@{/js/carController.js}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>