<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="getAllCarsCtrl">

    <div th:replace="layout :: navbar"></div>

    <h4>Car Details</h4>
    <table>
        <tr ng-repeat="x in cars | orderBy : 'carName'">
            <td>{{ x.carId }}</td>
            <td>{{ x.carName }}</td>
            <td>{{ x.person.personId }}</td>
            <td>{{ x.person.name }}</td>
            <td>{{ x.person.address }}</td>
        </tr>
    </table>

    <script th:src="@{/js/carController.js}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>