<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller = "myCtrl">

    <div th:replace="layout :: navbar"></div>

    <h4>Logged In</h4>
    <div>
        Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
        <br/>

        <a th:href="@{/car/allCars}">Get All Cars</a>

        <a th:href="@{/car/addCar}">Add a car</a>

        <!--<form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout" class="btn btn-danger"/>
        </form>-->
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>