<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>

</head>
<body>
<div class="col-sm-12">
    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar" style="background-color:LightGray;">
        <div class="container-fluid">
            <div class="navbar-header col-sm-12">
                <a class="navbar-brand col-sm-10" th:href="@{/}" style="color:black">
                    Spring Security
                </a>
                <a th:href="@{/logout}" th:if="${#httpServletRequest.remoteUser} != null" class="btn btn-danger">Logout</a>
                <button type="button" id="btn-login" class="btn btn-success"
                        th:if="${#httpServletRequest.remoteUser} == null">
                    Login
                </button>
            </div>
        </div>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>